.employees-card{
    max-height: 450px;
    min-width: 900px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    font-size: 10px;
    box-shadow: 1px 1px 1px;
}

.employees-card h2{
    color: #4A5568;
    font-size: 25px;
}

.table-responsive{
    height: 360px;
    border-radius: 5px;
}

.loader-wrapper{
    margin: 0 auto;
    display: table;
}