@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Ms+Madi&family=Pacifico&display=swap');

.navbar {
    margin: 29px 26px 0px 29px;
    height: 63px;
    width: 90%;
    border-radius: 5px;
    background-color: #1e1add;
    display: flex;
    align-items: center;
    padding-inline: 39px;
    gap: 60px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-style: normal;
}

.navbar h1 {
    color: #fff;
    font-size: 35px;
    font-family: 'Pacifico';
}

.navbar a{
    color: #fff;
    text-decoration: none;
}

.navbar img {
    width: 40px;
    height: 40px;
    background-color: #fff;
    margin-left: auto;
    border-radius: 50px;
    border: 2px solid #fff;
}

.dropdown-toggle::after{
    display: none !important;
}

.navbar .dropdown-link{
    color: #1e1add;
}

